logs
project/project
project/target
target
target-ui
tmp
node_modules
package-lock.json
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/*.semir.conf

.DS_Store
